<!DOCTYPE html>
<html lang="en">
<head>
	<title>Dine a Hotels and Restaurants Category Bootstrap Responsive website Template | Gallery :: w3layouts</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Dine Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
	SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

<!-- Custom Theme files -->
<link href="css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
<link href="css/style.css" type="text/css" rel="stylesheet" media="all">   
<link href="css/font-awesome.css" rel="stylesheet"> <!-- font-awesome icons --> 
<link rel="stylesheet" href="css/smoothbox.css" type='text/css' media="all" /> 
<!-- //Custom Theme files --> 
<!-- js -->
<script src="js/image.js"></script>  
<!-- //js -->
<!-- web-fonts -->   
<link href="//fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i" rel="stylesheet">
<!-- //web-fonts -->
</head>
<body >
	<!-- banner -->
	<div class="banner">
	
		<div class="header">
			<div class="container">
				<div class="logo">
					<h1><a href="index.html">Mimosas</a></h1>
				</div> 
				<div class="menu">
					<a href="#" class="navicon"></a> 
					<div class="toggle"> 
						<ul class="toggle-menu">
							<li><a href="index.html"> Home</a></li>
							<li><a href="about.html"> About</a></li> 
							<li><a href="gallery.html" class="active"> Gallery</a></li> 
							<li><a href="codes.html"> Short Codes</a></li>
							<li><a href="icons.html"> Web Icons</a></li>
							<li><a href="contact.html"> Contact Us</a></li>
						</ul>
					</div> 
				</div>   
				<div class="social-w3licon">
					<a href="#" class="social-button twitter"><i class="fa fa-twitter"></i></a>
					<a href="#" class="social-button facebook"><i class="fa fa-facebook"></i></a> 
					<a href="#" class="social-button google"><i class="fa fa-google-plus"></i></a> 
					<a href="#" class="social-button dribbble"><i class="fa fa-dribbble"></i></a> 
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		
		<div class="banner-text w3labout-bnr"> 
			<div class="container">  
				<h2><a href="index.html">Accueil</a> / Menu</h2>   
			</div>
		</div>
		
	</div>

	<div class="about gallery">
		<div class="container"> 
			<div class="w3ls-title"> 
			</div> 
			<div class="cote">
				<div class="note">
					<span>
						Sandwich BIO:
						<br>
						Tranche de pain à base de farine complète
						Salade, avocat, tomate 

					</span>
				</div>
				<br/>
				<br/>
				<div class="commentaire">
					<span>
				
					</span>
				</div>
			</div>
			<div  class="milieu">
				
				<div class="droite">
					<table>
					<form>
					
						<tr>
						<td><button class="boutonForm" >
						 <span class="span1"> <img src="images/plus.png" width="30" class="img-responsive" /> </span> 
							<span class="span2">Ajouter au panier</span>
						</button></td>
					   </tr>
					   <tr><td><br></td></tr> 
					   <tr>
						<td><button  class="boutonForm"> 
						<span class="span1">  <img src="images/moins.png" width="30"  class="img-responsive" /></span>
						<span class="span3">Supprimer du panier</span>
					   </button></td>
					   </tr>
					    <tr><td><br></td></tr> 
					     <tr><td><br></td></tr> 
					   <tr>
						<td>
							<input type="button" name="" value="Passer ma commande"   class=""></td>
					   </tr>
					
					</form>
					</table>
				</div>
				<div class="gauche">
					
					<form name="formCommentaire" method="POST" action='../ajouterCommentaire.php'>
							<a href="gallery.html" title="Sandwich Bio" class="sb" >
								<img src="images/g2.jpg" width="340" alt=" " class="img-responsive" />
							</a>
								 <br>
								<div class="like">
									   	<a href="../front office/image1.html ">
								        <button onclick="myFunction()" class="bouton" name="like">	 
								       	<img src="images/like.png" width="40"  class="img-responsive" />
								
								        </button>
								            </a>
								        <input type="text" name="" value="0" class="bouton"> 
								</div>
								<div class="dislike">
									<a href="../front office/image1.html ">
									    <button onclick="myFunction()" class="bouton" name ="dislike">		
									    <img src="images/dislike.png" width="40" class="img-responsive" />
									    </button>
									  </a>
									    <input type="text" name="" value="0" class="bouton"> 
								</div>
								<br>
							    <div class="">

								        <input type="text" name="valeur" placeholder=""  class="restyle"> 
								        <br/>
								        <br/>
								        <input type="submit" value="Publier"  onclick="valider()" class="">

								</div>
                        </form>
				</div>
			</div>
		</body>
		</html>
		   